$light-bg-color: #f4f4f4
$dark-body-color: #111
$white-body-color: #fff
$base-body-color: #444
// $light-body-color: #777
$light-body-color: #dadada
$active-color: #9055a2
$border-color: #ccc
$name-logo: #fff
// $card-caption: #8795a1
$card-caption: #0A0F2D
// $body-color: #96A6B3
$body-color: #212C4F
