@media (max-width: 899px) {
    .menu-toggle{
        padding: 1em;
        position: absolute;
        top: 1.5em;
        right: .2em;
        cursor: pointer;
    }
    
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        content: '';
        display: block;
        background: rgba(255, 255, 255, 0.7);
        height: 3px;
        width: 1.75em;
        border-radius: 3px;
        transition: all ease-in-out 350ms;
    }
                
    .hamburger::before{
        transform: translateY(-6px);
    }
    
    .hamburger::after{
        transform: translateY(3px);
    }
    
    .site-nav{
        margin-right: 20px;
        background: rgba(123, 123, 123, 0.9);
        position: absolute;
        top: 4em;
        right: 0%;
        height: 0px;
        z-index: 100;
        transition: height 0.3s ease-out;
        overflow: hidden;
    }
    
    .site-nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
        
    .site-nav li{
        border-bottom: 1px solid white;
    }
        
    .site-nav li:last-child{
        border-bottom: none;
    }
    
    .site-nav a{
        text-decoration:none;
        display: block;
        padding: 2em 6em;
        color: white;
    }
    
    .site-nav a:hover{
        color: #4FC2AA; 
    }
    
    /* .site-nav a:hover,
    .site-nav a:focus {
        background: #E4B363;
    } */
    
    .site-nav--open{
        height: 280px;
    }
    
    .open .hamburger{
        transform: rotate(45deg);
    }
    
    .open .hamburger::before{
        opacity: 0;
    }
    
    .open .hamburger::after{
        transform: translateY(-3px) rotate(-90deg);
    }
}


@media (min-width: 900px){
    .site-nav li a{
        text-decoration: none;
        display: block;
        padding-left: 20px;
        color: white;
        position: relative;
    }
    
    /* .site-nav li a::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
        height: 12px;
        width: 12px;
        background: url('https://cdn.rawgit.com/encharm/Font-Awesome-SVG-PNG/master/white/svg/chevron-right.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.6;
    } */
    
    .site-nav li a:hover{
        border-radius: 20px;
        width: 30%;
        background: linear-gradient(104.74deg, rgb(176, 30, 255, 0.5) 0%, rgb(225, 70, 124, 0.5) 100%);
    }
    
    .active::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
        height: 12px;
        width: 12px;
        background: url('https://cdn.rawgit.com/encharm/Font-Awesome-SVG-PNG/master/white/svg/chevron-right.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.6;
    }
}